Tarifin node red flow.txt
[{"id":"fa175cf5.be12b8","type":"mqtt in","z":"fd0c2647.e6bd58","name":"","topic":"tarifin/pvpc/tnoc","qos":"2","datatype":"auto","broker":"eb88be28.9bfe7","x":320,"y":280,"wires":[["f37a1d9d.2725b8","834adfbf.57c94"]]},{"id":"9a5422d5.0a05d8","type":"inject","z":"fd0c2647.e6bd58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":120,"wires":[["2d65dfbf.9d8fd8"]]},{"id":"f37a1d9d.2725b8","type":"change","z":"fd0c2647.e6bd58","name":"","rules":[{"t":"set","p":"tnoc","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":260,"wires":[[]]},{"id":"2d65dfbf.9d8fd8","type":"random","z":"fd0c2647.e6bd58","name":"","low":"1000","high":"4000","inte":"true","property":"payload","x":480,"y":120,"wires":[["54cf25bc.068e8c"]]},{"id":"54cf25bc.068e8c","type":"function","z":"fd0c2647.e6bd58","name":"","func":"msg.payload = flow.get('tnoc') * msg.payload/100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":120,"wires":[["c99b0275.4af62"]]},{"id":"834adfbf.57c94","type":"debug","z":"fd0c2647.e6bd58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":300,"wires":[]},{"id":"253758b3.ecfe08","type":"debug","z":"fd0c2647.e6bd58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":340,"wires":[]},{"id":"2ec2e112.4fa76e","type":"comment","z":"fd0c2647.e6bd58","name":"POTENCIA EN WATS","info":"","x":500,"y":80,"wires":[]},{"id":"1d4ce331.c3e99d","type":"inject","z":"fd0c2647.e6bd58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":380,"wires":[["2ff618ad.f16238"]]},{"id":"2ff618ad.f16238","type":"function","z":"fd0c2647.e6bd58","name":"Convert to float","func":"msg.payload = flow.get('tnoc')*1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":380,"wires":[["253758b3.ecfe08","217fd3ac.a4486c"]]},{"id":"17ccffee.8ace3","type":"comment","z":"fd0c2647.e6bd58","name":"EJEMPLE DE VARIABLE DE FLOW","info":"","x":370,"y":40,"wires":[]},{"id":"c99b0275.4af62","type":"debug","z":"fd0c2647.e6bd58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":120,"wires":[]},{"id":"7c02fe2a.5b043","type":"comment","z":"fd0c2647.e6bd58","name":"PREU KW","info":"","x":690,"y":80,"wires":[]},{"id":"df9f7cae.9d274","type":"comment","z":"fd0c2647.e6bd58","name":"TARIFA PREU EUROS","info":"","x":320,"y":240,"wires":[]},{"id":"387bbc21.3cdbc4","type":"mqtt out","z":"fd0c2647.e6bd58","name":"","topic":"tarifa_nocturna","qos":"","retain":"","broker":"93a7ad59.5bf73","x":1000,"y":380,"wires":[]},{"id":"217fd3ac.a4486c","type":"function","z":"fd0c2647.e6bd58","name":"+0.009","func":"msg.payload = (msg.payload + 0.009)*100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":380,"wires":[["387bbc21.3cdbc4","d9620bd2.180fd8"]]},{"id":"d9620bd2.180fd8","type":"debug","z":"fd0c2647.e6bd58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":440,"wires":[]},{"id":"4d033a77.4321f4","type":"comment","z":"fd0c2647.e6bd58","name":"TARIFA NOCTURNA","info":"","x":320,"y":200,"wires":[]},{"id":"88aebd0c.dee46","type":"mqtt in","z":"fd0c2647.e6bd58","name":"","topic":"tarifin/pvpc/tvhc","qos":"2","datatype":"auto","broker":"eb88be28.9bfe7","x":320,"y":540,"wires":[["348bca91.7f2586","26032135.260e3e"]]},{"id":"348bca91.7f2586","type":"change","z":"fd0c2647.e6bd58","name":"","rules":[{"t":"set","p":"tvhc","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[[]]},{"id":"26032135.260e3e","type":"debug","z":"fd0c2647.e6bd58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":560,"wires":[]},{"id":"59396c98.09e384","type":"debug","z":"fd0c2647.e6bd58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":600,"wires":[]},{"id":"cdc99366.19f9","type":"inject","z":"fd0c2647.e6bd58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":640,"wires":[["d21d468e.09c918"]]},{"id":"d21d468e.09c918","type":"function","z":"fd0c2647.e6bd58","name":"Convert to float","func":"msg.payload = flow.get('tvhc')*1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":640,"wires":[["59396c98.09e384","4530dac9.75c454"]]},{"id":"8a4bad2b.b4a28","type":"comment","z":"fd0c2647.e6bd58","name":"TARIFA PREU EUROS","info":"","x":320,"y":500,"wires":[]},{"id":"ab261de7.368e7","type":"mqtt out","z":"fd0c2647.e6bd58","name":"","topic":"tarifa_cotxe_electric","qos":"","retain":"","broker":"93a7ad59.5bf73","x":1020,"y":640,"wires":[]},{"id":"4530dac9.75c454","type":"function","z":"fd0c2647.e6bd58","name":"+0.009","func":"msg.payload = (msg.payload + 0.009)*100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":640,"wires":[["b913c6ae.51d968","ab261de7.368e7"]]},{"id":"b913c6ae.51d968","type":"debug","z":"fd0c2647.e6bd58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":700,"wires":[]},{"id":"934540df.38ffc","type":"comment","z":"fd0c2647.e6bd58","name":"TARIFA COTXE ELECTRIC","info":"","x":350,"y":460,"wires":[]},{"id":"eb88be28.9bfe7","type":"mqtt-broker","z":"fd0c2647.e6bd58","name":"","broker":"monitorin.inutil.info","port":"30540","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"93a7ad59.5bf73","type":"mqtt-broker","z":"fd0c2647.e6bd58","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]